build/pc-bios/edk2-aarch64-code.fd filter=lfs diff=lfs merge=lfs -text
build/pc-bios/edk2-arm-vars.fd filter=lfs diff=lfs merge=lfs -text
build/pc-bios/edk2-arm-code.fd filter=lfs diff=lfs merge=lfs -text
